<div
	ng-include="'app/views/modals/connectionProfile/facilityDetail.html'"></div>
<div class="lending-questions col-xs-12">
	<div class="heading">Approval Checklist</div>
	<div class="question-table">
		<div class="col-xs-12 question-heading">
			<div class="col-xs-1">Yes</div>
			<div class="col-xs-1">No</div>
		</div>
		<div class="col-xs-10 border"></div>
		<div>
			<ul>
				<li
					ng-repeat="questions in vm.modalData.approvalCheckList track by $index">
					<div class="col-xs-12 question-description"">
						<div class="col-xs-1">
							<span class='radio'> <input type="radio"
								ng-attr-name="lendingQuestions{{$index}}"
								ng-model="questions.answeredYes" ng-value="true"> <span>&nbsp;&nbsp;&nbsp;</span>
							</span>
						</div>
						<div class="col-xs-1">
							<span class='radio'> <input type="radio"
								ng-attr-name="lendingQuestions{{$index}}"
								ng-model="questions.answeredYes" ng-value="false"> <span>&nbsp;&nbsp;</span>
							</span>
						</div>
						<div class="col-xs-10">
							<p ng-bind-html="questions.questionDescription"></p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="modal-footer col-xs-12">
		<div class="col-xs-12 button-container">
			<button type="button" class="btn btn-primary text-center"
				ng-disabled="!vm.isNextEnable()" ng-click="vm.next()">Next</button>
		</div>
		<div class="col-xs-12 text-center">
			<a class="lola-link" href="" ng-click="vm.close()" target="_blank">Cancel</a>
		</div>
	</div>
</div>

