<div class="col-xs-12">
    <h5>Customer: {{vm.parentScope.addGender}} {{vm.parentScope.addCustomerName}} ({{vm.parentScope.addressType}} Address)</h5>
</div>
<form name="addressSearchFrm" >
    <div class="form-group">
        <div class="col-sm-12 row">&nbsp;</div>
        
        <div class="col-sm-12 row" ng-show="vm.parentScope.addressFormatTypeId==2">
            <div class="col-sm-12">
                <label>address line</label>
            </div>
            <div class="col-sm-12">
                <!-- <input type="text" class="form-control input-lg no-border" ng-disabled="true" placeholder="ADDRESS LINE"
                    ng-model="addressLine" name="addressLine" /> -->
                <textarea ng-model="vm.parentScope.addressLine" ng-disabled="true" class="form-control" placeholder="ADDRESS LINE" maxlength="10000" rows="3" ></textarea>
            </div>
        </div>
        
        <div class="col-sm-12 row" ng-show="vm.parentScope.addressFormatTypeId==1">
            <div class="col-sm-4 ">
                <label>UNIT #</label>                       
            </div>                  
            <div class="col-sm-4 ">
                <label >FLOOR #</label>
            </div>                  
            <div class="col-sm-4">
                <label >STREET #</label>
            </div>
        </div>                      
        <div class="col-sm-12 row" ng-show="vm.parentScope.addressFormatTypeId==1">            
            <div class="col-sm-4 ">
                <input type="text" class="form-control input-lg no-border" ng-disabled="vm.parentScope.previousAddress==0" placeholder="UNIT #"
                    ng-model="vm.parentScope.custUnitNo" name="unitNo" />                              
            </div>  
            <div class="col-sm-4 ">
                <input type="text" class="form-control input-lg no-border" ng-disabled="vm.parentScope.previousAddress==0" placeholder="FLOOR #"
                    ng-model="vm.parentScope.custFloorNo" name="floorNo" />
            </div>
            <div class="col-sm-4 ">
                <input type="text" class="form-control input-lg no-border" ng-disabled="vm.parentScope.previousAddress==0" placeholder="STREET #"
                    ng-model="vm.parentScope.custStreetNo" name="streetNo" />
            </div>
        </div>
        <div class="col-sm-12 row">&nbsp;</div> 
        <div class="col-sm-12 row" ng-show="vm.parentScope.addressFormatTypeId==1">
            <div class="col-sm-6">
                <label>STREET NAME</label>                      
            </div>                  
            <div class="col-sm-6">
                <label>STREET TYPE</label>
            </div>  
        </div>                  
        <div class="col-sm-12 row" ng-show="vm.parentScope.addressFormatTypeId==1">
            <div class="col-sm-6">
                <input type="text" class="form-control input-lg no-border" ng-disabled="vm.parentScope.previousAddress==0" placeholder="STREET NAME"
                    ng-model="vm.parentScope.custStreetName" name="streetName" />
            </div>  
            <div class="col-sm-6">                      
                <select class="form-control input-lg no-border" ng-disabled="vm.parentScope.previousAddress==0" ng-model="vm.parentScope.custStreetType"
            ng-options="streetTypeList.key as streetTypeList.name for streetTypeList in vm.parentScope.streetTypeReferenceData | orderBy:'key'" />                                         
                </select>                           
            </div>
        </div>
        <div class="col-sm-12 row" ng-show="vm.parentScope.addressFormatTypeId==1">&nbsp;</div>
        <div class="col-sm-12 row">
            <div class="col-sm-12">
                <label>COUNTRY</label>
            </div>
            <div class="col-sm-12">
                <select class="form-control input-lg no-border" ng-disabled="vm.parentScope.previousAddress==0 || vm.parentScope.addressFormatTypeId==2" ng-model="vm.parentScope.addCountry"
            ng-options="countryType.key as countryType.name for countryType in vm.parentScope.countryTypeReferenceData | orderBy:'key'" ng-change="vm.parentScope.populateStateList(vm.parentScope.addCountry)">                                         
                </select>
            </div>
        </div>
        <div class="col-sm-12 row">&nbsp;</div>
        <div class="col-sm-12 row">
            <div class="col-sm-12">
                <label>STATE</label>
            </div>
            <div class="col-sm-12">
                <select class="form-control input-lg no-border" ng-disabled="vm.parentScope.previousAddress==0 || vm.parentScope.addCountry=='' || vm.parentScope.addressFormatTypeId==2" ng-model="vm.parentScope.addStateName"
            ng-options="stateType.key as stateType.code for stateType in vm.parentScope.stateReferenceData | orderBy:'key'" ng-change="vm.parentScope.populateSuburbList(vm.parentScope.addStateName)">
                    <option value="">Select</option>                                            
                </select>
            </div>
        </div>
        <div class="col-sm-12 row">&nbsp;</div>
        <div class="col-sm-12 row">
            <div class="col-sm-12">
                <label>SUBURB/CITY</label>
            </div>
            <div class="col-sm-12">
                <select class="form-control input-lg no-border" ng-disabled="vm.parentScope.previousAddress==0|| vm.parentScope.addCountry=='' || vm.parentScope.addStateName=='' || vm.parentScope.addressFormatTypeId==2" ng-model="vm.parentScope.custAddressCity"
            ng-options="suburbType.code as suburbType.name for suburbType in vm.parentScope.suburbTypeReferenceData | orderBy:'key'" ng-change="vm.parentScope.populatePostcodeList(vm.parentScope.custAddressCity)">                                            
                <option value="">Select</option>
                </select>
            </div>
        </div>
        <div class="col-sm-12 row">&nbsp;</div>
        <div class="col-sm-12 row">
            <div class="col-sm-12">
                <label>POSTCODE</label>
            </div>
            <div class="col-sm-12">
                <select class="form-control input-lg no-border" ng-disabled="vm.parentScope.previousAddress==0|| vm.parentScope.addCountry=='' || vm.parentScope.addStateName=='' || vm.parentScope.custAddressCity=='' || vm.parentScope.addressFormatTypeId==2" ng-model="vm.parentScope.addPostcode"
            ng-options="postcodeType.code as postcodeType.name for postcodeType in vm.parentScope.postcodeTypeReferenceData | orderBy:'key'">                                          
                <option value="">Select</option>
                </select>
            </div>
        </div>                  
        <div class="col-sm-12 row">&nbsp;</div>
        <div class="col-sm-12 row">
            <div class="col-sm-12">
                
                <label>STATUS</label>
            </div>
            <div class="col-sm-12">
                <select class="form-control input-lg no-border" ng-model="vm.parentScope.addPremiseStatus"
            ng-options="statusType.key as statusType.name for statusType in vm.parentScope.statusTypeReferenceData | orderBy:'key' | filter:{parent: vm.parentScope.isResidential}">  
                    <option value="">Select</option>                                                                                                    
                </select>
            </div>
        </div>
        <div class="col-sm-12 row">&nbsp;</div>
        <div class="col-sm-12 row">
            <div class="col-sm-12">
                <label>START DATE</label>
            </div>
            <div class="col-sm-12" ng-init="vm.parentScope.isStartDateValid=true">

            <div class="col-sm-12 input-group input-group-lg" ng-init ="vm.parentScope.addStartDate = (vm.parentScope.addStartDate | date:'dd/MM/yyyy')">
                    <span class="input-group-addon no-border"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input type="text" class="form-control no-border" ng-model="vm.parentScope.addStartDate" name="vm.parentScope.addStartDate"  ng-blur="vm.parentScope.isStartDateValid = vm.parentScope.validateDate(vm.parentScope.addStartDate)" 
                    placeholder="DD/MM/YYYY" maxlength=10 />
                </div>                          
                
                <span ng-show="!vm.parentScope.isStartDateValid && !editAddressForm.vm.parentScope.addStartDate.$pristine " class="has-error">Enter a Date in the format of DD/MM/YYYY</span>
                <span ng-show="vm.parentScope.isStartDateValid && !vm.parentScope.isnotFutureDate(vm.parentScope.addStartDate)" class="has-error">Enter a date prior to or equal to today</span>
                <span ng-show="vm.parentScope.isStartDateValid && vm.parentScope.isnotFutureDate(vm.parentScope.addStartDate) && vm.parentScope.validateDate(vm.parentScope.addEndDate) && !vm.parentScope.validateStartDateEndDateValues(vm.parentScope.addStartDate,vm.parentScope.addEndDate)" class="has-error">Enter a date prior to end date ({{createDatefromMiliSecond(vm.parentScope.addEndDate)}}) of Previous address</span>
                
            </div>                      
            <div class="col-sm-12 text-right">
                <p class="year-string" ng-show="vm.parentScope.previousAddress===0 && vm.parentScope.addStartDate!=null && vm.parentScope.addStartDate!='' && vm.parentScope.validateDate(vm.parentScope.addStartDate) && vm.parentScope.isnotFutureDate(vm.parentScope.addStartDate)">{{vm.parentScope.calculateYears(vm.parentScope.addStartDate,"")}}</p>
                <p class="year-string" ng-show="vm.parentScope.previousAddress===1 && vm.parentScope.addStartDate!=null && vm.parentScope.addStartDate!='' && vm.parentScope.validateDate(vm.parentScope.addStartDate) && vm.parentScope.isnotFutureDate(vm.parentScope.addStartDate) && vm.parentScope.addEndDate!=='' && vm.parentScope.addEndDate!==null && vm.parentScope.validateDate(vm.parentScope.addEndDate)
                && vm.parentScope.validateStartDateEndDateValues(vm.parentScope.addStartDate,vm.parentScope.addEndDate)">{{vm.parentScope.calculateYears(vm.parentScope.addEndDate,vm.parentScope.addStartDate)}}</p>
            </div>
        </div>
        <div class="col-sm-12 row">&nbsp;</div> 
        <div class="col-sm-12 row">
            <div class="col-sm-6">
                <button class="btn btn-default pull-left" ng-click="modalOptions.close()">CANCEL</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-primary pull-right " ng-disabled="!(vm.parentScope.validateDate(vm.parentScope.addStartDate) && vm.parentScope.isnotFutureDate(vm.parentScope.addStartDate) && (vm.parentScope.previousAddress===0 || (vm.parentScope.previousAddress===1 && vm.parentScope.validateStartDateEndDateValues(vm.parentScope.addStartDatevm.parentScope.,addEndDate))) && vm.parentScope.addPremiseStatus)" ng-Click="vm.parentScope.setCustomerDetails();$close();">OK</button>
            </div>
        </div>              
    </div>
</form>