<!-- US 1821 -->
	<div class="modal-body modal-body-popup col-xs-12" >
	<p>The deal is not eligible for fast track rollover, you will be directed to the existing process in LOLA.</p>
		
	</div>
			
	<div class="modal-footer">
			
		<div class="col-xs-12">&nbsp;</div>
		<div class="col-xs-12">
		
			<!-- <a class="lola-link esr-description" href="" ng-click="close()" target="_blank">Ok</a> -->
			
			<a ng-click="vm.close()" ><button type="button" class="btn btn-primary"><b>Ok</b></button></a>
			
			</div>
		
	
	</div>
